/*
 Name: Yash Khanchandani
  Date: August 11, 2020
  Section: CSE 154 AC
  This is the styles.css page for my portfolio of web development work. It is used by all pages
  in my portfolio to give the site a consistent look and feel
*/

.container {
  margin: 0 auto;
}

header {
  background: #2e2e2e;
}

header:after {
  content: '';
  display: table;
  clear: both;
}

body {
  background-color: rgba(126, 159, 221, 0.938);
  font-family: "Helvetica", sans-serif;
  margin-top: 45px;
  margin-left: 0px;
}

h1 {
  font-size: 80px;
  color: #3a3a3a;
}

h1, form, label {
  min-height: 5vh;
}

h1, form, label, .p1, #iputs #b-iput1, .p2, #oputs #b-iput2, #helptable {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button, form select, label {
  font-size: 2rem;
}

form input, form button, form select {
  padding: 0.5rem;
  border: none;
  background: whitesmoke;
}

form button {
  color: whitesmoke;
  background: #4CAF50;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #4CAF50;
  padding: 10px;
  color: whitesmoke;
}

#iputs p, #oputs p {
  padding: 0.5rem;
}

form div {
  margin-top: 50px;
}

.p1, .p2 {
  font-size: 25px;
}

#iputs .p1, #iputs #b-iput1, #iputs .p2 {
  margin-right: 7rem;
}

#oputs .p1, #oputs #b-iput2, #oputs .p2 {
  margin-left: 7rem;
}

#doodadoo {
  display: flex;
  justify-content: space-evenly;
}

#helptable {
  margin-top: 100px;
  font-size: 18px;
}

.hidden {
  display: none;
}